#brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-weight: bold;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:100px;
    width:100%;
}

